<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Make a new user:</h2>
    <form action="/users" method="post">
        <h4><input type="text" name="name" placeholder="Enter a name" id=""></h4>
        <h3><input type="number" name="age" placeholder="Enter an age" id=""></h3>
        <button type="submit">Add User</button>
    </form>
    <a href="/users">See all users</a>
</body>
</html>